<style media="screen">
	.card-view>img{
		border: 1px solid #e3e3e3;
		padding: 10px;
	}
	.card-view{
		padding-bottom: 10px;
		padding-top: 10px;
	}
</style>
<div class="container mtb">
	<div class="row">
		{% for reading-group in site.categories['reading-group'] limit:include.limit %}

		{% if reading-group.heading == "SCoRe Reading Group" %}
        <p>
            {{reading-group.introduction}}
        </p>

        <p>
            <b>When and where?</b>
        </p>

        <section>
				<ul style="padding-left: 25px;" type="circle"> 
					<li>Date: Every Friday</li>
                    <li>Time: 11.00am</li>
                    <li>Venue: SCoRe lab / 4th floor conference room</li>
				</ul>
        </section>	

        {% endif %}

		{% endfor %}
	</div>
</div>
